body {
    font-family: 'ROBOTO', sans-serif;
    box-sizing: border-box;
}

.pokemon {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border: 1px solid #000; 
    padding: 10px; 
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
}

.container {
    height: .25rem;
    width: 50%;
    background-color: red;
    position: relative;
    margin-left: .5rem;
}

.hp-container{
    display: flex;
    align-items: center;
}

.container .progress-bar {
    position: absolute;
    height: 100%;
    background-color: #0fd439;
    animation: progress-animation 2s infinite;
}

@keyframes progress-animation {
    0% { width: 0%; }
    100% { width: 100% }
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.detailReturn button {
    padding: .25rem .5rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    margin: 1rem 0;
}
